{
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/react",
    //    "plugin:import/errors",
    //    "plugin:import/warnings",
    //    "plugin:cypress/recommended",
    "eslint:recommended"
  ],
  "plugins": [
    "prettier",
    "react-hooks",
    "import",
    "better-styled-components",
    "unused-imports",
    "cypress"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es2020": true,
    "browser": true,
    "jest": true,
    "cypress/globals": true
  },
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "semi": "error",
    "prefer-destructuring": "error",
    "max-len": [
      "warn",
      {
        "code": 150,
        "ignoreUrls": true,
        "ignorePattern": "import"
      }
    ],
    "no-unused-vars": "warn",
    "operator-linebreak": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-closing-tag-location": 2,
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-max-props-per-line": [
      2,
      {
        "maximum": 2,
        "when": "always"
      }
    ],
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".jsx"
        ]
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "react/prop-types": "off",
    "react/jsx-fragments": [
      1,
      "element"
    ],
    "react/no-unescaped-entities": "off",
    "import/no-anonymous-default-export": "off",
    "better-styled-components/sort-declarations-alphabetically": 2,
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "./**",
            "group": "internal",
            "position": "after"
          }
        ],
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "src/index.js"
      ],
      "rules": {
        "react/jsx-filename-extension": "off",
        "prettier/prettier": [
          "error",
          {
            "singleQuote": false
          }
        ]
      }
    }
  ],
  "ignorePatterns": [
    "node_modules/"
  ]
  //  "settings": {
  //    "import/resolver": {
  //      "alias": {
  //        "map": [
  //          [
  //            "@/public",
  //            "./public"
  //          ],
  //          [
  //            "@/components",
  //            "./components"
  //          ],
  //          [
  //            "@/templates",
  //            "./templates"
  //          ],
  //          [
  //            "@/technologies",
  //            "./components/sections/technologies"
  //          ],
  //          [
  //            "@/frontend",
  //            "./components/sections/technologies/frontend"
  //          ],
  //          [
  //            "@/backend",
  //            "./components/sections/technologies/backend"
  //          ],
  //          [
  //            "@/portfolio",
  //            "./components/sections/portfolio"
  //          ],
  //          [
  //            "@/pages",
  //            "./pages"
  //          ],
  //          [
  //            "@/theme",
  //            "./theme"
  //          ],
  //          [
  //            "@/fields",
  //            "./fields"
  //          ],
  //          [
  //            "@/forms",
  //            "./forms"
  //          ],
  //          [
  //            "@/lib",
  //            "./lib"
  //          ],
  //          [
  //            "@/ui",
  //            "./ui"
  //          ],
  //          [
  //            "@/constants",
  //            "./constants"
  //          ],
  //          [
  //            "@/hooks",
  //            "./hooks"
  //          ],
  //          [
  //            "@/helpers",
  //            "./helpers"
  //          ]
  //        ],
  //        "extensions": [
  //          ".js",
  //          ".jsx",
  //          ".json"
  //        ]
  //      }
  //    }
  //  }
}
